{% extends "base.html" %}

{% block content %}
<main id="main" class="index" tabindex="-1">
  <section>
    {% set headshot = resize_image(path="/static/matt-squire.jpg", width=180, op="fit_width") %}
    <img style="float: right; margin-left: 15px; margin-top: 15px; margin-bottom: 15px; border-radius: 50%;" src="{{ headshot.url }}"\>
    <h1>🐝...🐝🐝🐝</h1>
    <p>I'm a programmer, CTO, and a co-founder of <a href="https://fuzzylabs.ai">Fuzzy Labs</a>, a UK tech company helping people productionise machine learning through MLOps.</p>
    <p>I'm interested in artificial intelligence, bio-inspired computing, IoT / edge, and functional programming.</p>
    <p>On this site you'll find my very occasional blog, and information on a few projects</p>
    <p>I write a newsletter on MLOps - you can read it <a href="https://mlops.wtf">here</a></p>
  </section>

  <section class="index-columns">
    <section class="index-listing">
      <h2>
        Recent blog posts
      </h2>
      {% set section = get_section(path="blog/_index.md") %}
      {% for page in section.pages | slice(end=2) %}
      {{ page_macros::page_listing(page=page) }}
      {% endfor %}
      <p class="read-more"><a href="/blog/">more blog posts ≫</a></p>
    </section>
  </section>

  <section>
    <h1>Contact</h1>
    <p><small><code>$ echo NmQ2MTc0NzRAbWF0dHNxdWlyZS50ZWNoCg== | base64 -d</code></small></p>
  </section>
</main>
{% endblock content %}
